.vscode
install-pop-os
*.retry
.*.swp
**/__pycache__/**
*.pyc
*gpkg-done
files/fonts/opentype/*
!/files/fonts/opentype/.gitkeep
files/fonts/truetype/*
!/files/fonts/truetype/.gitkeep
files/x509/**
!files/x509/.gitkeep
files/deb/**
!files/deb/.gitkeep
files/security/**
!files/security/.gitkeep
files/firefox/**
files/local/bin/*
!files/local/bin/tiv
!files/local/bin/touchpad-config
